.idea
.project
.settings
.vscode/
.vagrant
.vagrant*
debug.log
error.log
dump.rdb
.env
.phpunit.result.cache
/silverstripe.log
/.dev-tools-env
/docker-02/
/logs/
/app/_config/dev/
/artifacts/
/silverstripe-cache/
/vendor/
node_modules/
/toolbar/
