.idea
.project
.settings
/elastica/
/framework/
/multivaluefield/
/sqlite3/
/queuedjobs/
/crontask/
/silverstripe-cache/
/environmentcheck/
/silverstripe-dynamodb/
/ssp-core/
/vendor/
.vagrant
.vagrant*
node_modules/
/toolbar/
/silverstripe-resque/
display_logic/
debug.log
error.log
dump.rdb
/gridfieldextensions
_ss_environment.php
host.txt
/raygun/
/resources/
/silverstripe-elastica/
.env
