/* line 10, ../sass/main.scss */
#header .navbar-inner {
  background: none;
  border-bottom: 1px solid #efefef;
  border-top: 3px solid #0b467f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 35px 0;
}
/* line 18, ../sass/main.scss */
#header .brand {
  padding-bottom: 0;
  padding-top: 0;
}
/* line 22, ../sass/main.scss */
#header .brand:hover {
  opacity: .8;
}
/* line 27, ../sass/main.scss */
#header .nav {
  float: right;
  margin-bottom: -5px;
}
/* line 31, ../sass/main.scss */
#header .nav a {
  color: #0b467f;
  line-height: 45px;
  padding: 0 20px;
}
/* line 36, ../sass/main.scss */
#header .nav a:hover {
  border-bottom: 5px solid #efefef;
}
/* line 41, ../sass/main.scss */
#header .nav .active a {
  background: none;
  border-bottom: 5px solid #45b2e6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 49, ../sass/main.scss */
.page-header {
  border-bottom: 5px solid #efefef;
}
/* line 52, ../sass/main.scss */
.page-header h1 {
  color: #0b467f;
  margin-bottom: 0;
}
/* line 57, ../sass/main.scss */
.page-header .lead {
  margin-bottom: 5px;
}

/* line 62, ../sass/main.scss */
.extensions-box {
  margin-bottom: 15px;
}
/* line 65, ../sass/main.scss */
.extensions-box h3 {
  background: #F4F4F4;
  border: 1px solid #dedede;
  font-size: 16px;
  margin: 0;
  padding: 0 12px;
}
/* line 73, ../sass/main.scss */
.extensions-box .extensions {
  list-style: none;
  margin: 0;
}
/* line 77, ../sass/main.scss */
.extensions-box .extensions li a {
  border: 1px solid #dedede;
  border-bottom: 1px solid #efefef;
  border-top: none;
  display: block;
  padding: 5px 10px;
}
/* line 84, ../sass/main.scss */
.extensions-box .extensions li a:hover {
  background: #efefef;
  text-decoration: none;
}
/* line 89, ../sass/main.scss */
.extensions-box .extensions li a .meta, .extensions-box .extensions li a .description {
  color: #333;
  font-size: 13px;
}
/* line 94, ../sass/main.scss */
.extensions-box .extensions li a .meta {
  float: right;
  margin-bottom: 1px;
}
/* line 99, ../sass/main.scss */
.extensions-box .extensions li a .description {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 107, ../sass/main.scss */
.extensions-box .extensions li:last-child a {
  border-bottom-color: #dedede;
}

/* line 113, ../sass/main.scss */
.readme {
  background: #efefef;
  padding: 0;
}
/* line 117, ../sass/main.scss */
.readme .content {
  padding: 20px;
}
/* line 121, ../sass/main.scss */
.readme:not(.collapsed) .icon-arrow-down {
  display: none;
}
/* line 125, ../sass/main.scss */
.readme .toggle {
  background: #ececec;
  border-top: 1px solid #e3e3e3;
  display: block;
  padding: 5px;
  text-align: center;
}
/* line 132, ../sass/main.scss */
.readme .toggle:hover {
  background: #e2e2e2;
}
/* line 138, ../sass/main.scss */
.readme.collapsed .icon-arrow-up {
  display: none;
}
/* line 141, ../sass/main.scss */
.readme.collapsed .icon-arrow-down {
  display: inline-block;
}
/* line 144, ../sass/main.scss */
.readme.collapsed .content {
  max-height: 200px;
  overflow: hidden;
  position: relative;
}
/* line 149, ../sass/main.scss */
.readme.collapsed .content:after {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, rgba(244, 244, 244, 0)), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, rgba(244, 244, 244, 0) 20%, #f4f4f4);
  background-image: -moz-linear-gradient(top, rgba(244, 244, 244, 0) 20%, #f4f4f4);
  background-image: -o-linear-gradient(top, rgba(244, 244, 244, 0) 20%, #f4f4f4);
  background-image: linear-gradient(top, rgba(244, 244, 244, 0) 20%, #f4f4f4);
  bottom: 0;
  content: " ";
  display: block;
  height: 40px;
  left: 0;
  position: absolute;
  right: 0;
}

/* line 163, ../sass/main.scss */
#home-extensions-search {
  background: #0b467f;
  margin-top: 20px;
  padding: 15px;
}

/* line 169, ../sass/main.scss */
#authors, #tags, #vendors {
  list-style: none;
  margin: 0;
}
/* line 173, ../sass/main.scss */
#authors li, #tags li, #vendors li {
  float: left;
}
/* line 176, ../sass/main.scss */
#authors li a, #tags li a, #vendors li a {
  background: #efefef;
  display: block;
  margin: 0 5px 5px 0;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 185, ../sass/main.scss */
#authors li a:hover, #tags li a:hover, #vendors li a:hover {
  background: #dedede;
  text-decoration: none;
}
/* line 192, ../sass/main.scss */
#authors .label, #tags .label, #vendors .label {
  background: #dedede;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #666;
  text-shadow: none;
}

/* line 200, ../sass/main.scss */
#authors li, #vendors li {
  width: 20%;
}

/* line 204, ../sass/main.scss */
#vendors .label {
  float: right;
}
