@import "compass";

$light-gray: #EFEFEF;
$med-gray: #DEDEDE;

$dark-blue: #0B467F;
$light-blue: #45B2E6;

#header {
  .navbar-inner {
    background: none;
    border-bottom: 1px solid $light-gray;
    border-top: 3px solid $dark-blue;
    @include box-shadow(none);
    padding: 35px 0;
  }

  .brand {
    padding-bottom: 0;
    padding-top: 0;

    &:hover {
      opacity: .8;
    }
  }

  .nav {
    float: right;
    margin-bottom: -5px;

    a {
      color: $dark-blue;
      line-height: 45px;
      padding: 0 20px;

      &:hover {
        border-bottom: 5px solid $light-gray;
      }
    }

    .active a {
      background: none;
      border-bottom: 5px solid $light-blue;
      @include box-shadow(none);
    }
  }
}

.page-header {
  border-bottom: 5px solid $light-gray;

  h1 {
    color: $dark-blue;
    margin-bottom: 0;
  }

  .lead {
    margin-bottom: 5px;
  }
}

.extensions-box {
  margin-bottom: 15px;

  h3 {
    background: #F4F4F4;
    border: 1px solid $med-gray;
    font-size: 16px;
    margin: 0;
    padding: 0 12px;
  }

  .extensions {
    list-style: none;
    margin: 0;

    li a {
      border: 1px solid $med-gray;
      border-bottom: 1px solid $light-gray;
      border-top: none;
      display: block;
      padding: 5px 10px;

      &:hover {
        background: $light-gray;
        text-decoration: none;
      }

      .meta, .description {
        color: #333;
        font-size: 13px;
      }

      .meta {
        float: right;
        margin-bottom: 1px;
      }

      .description {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    li:last-child a {
      border-bottom-color: $med-gray;
    }
  }
}

.readme {
  background: $light-gray;
  padding: 0;

  .content {
    padding: 20px;
  }

  &:not(.collapsed) .icon-arrow-down {
    display: none;
  }

  .toggle {
    background: darken($light-gray, 1%);
    border-top: 1px solid #E3E3E3;
    display: block;
    padding: 5px;
    text-align: center;

    &:hover {
      background: darken($light-gray, 5%);
    }
  }

  &.collapsed {
    .icon-arrow-up {
      display: none;
    }
    .icon-arrow-down {
      display: inline-block;
    }
    .content {
      max-height: 200px;
      overflow:  hidden;
      position: relative;

      &:after {
        @include background-image(linear-gradient(top, rgba(244, 244, 244, 0) 20%, #F4F4F4));
        bottom: 0;
        content: " ";
        display: block;
        height: 40px;
        left: 0;
        position: absolute;
        right: 0;
      }
    }
  }
}

#home-extensions-search {
  background: $dark-blue;
  margin-top: 20px;
  padding: 15px;
}

#authors, #tags, #vendors {
  list-style: none;
  margin: 0;

  li {
    float: left;

    a {
      background: $light-gray;
      display: block;
      margin: 0 5px 5px 0;
      overflow: hidden;
      padding: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background: $med-gray;
        text-decoration: none;
      }
    }
  }

  .label {
    background: $med-gray;
    @include border-radius(0);
    color: #666;
    text-shadow: none;
  }
}

#authors li, #vendors li {
  width: 20%;
}

#vendors .label {
  float: right;
}
