.accordion {
  .accordion-group {
    border-bottom-width: 0;
    margin-bottom: 0;

    &:last-child {
      border-bottom-width: 1px;
    }
  }

  .accordion-separator {
    background: lighten(@grayLighter, 2%);
    color: lighten(@textColor, 15%);
    font-weight: bold;

    .accordion-heading {
      padding: 8px 15px;
    }
  }
}

.add-ons {
  h3 {
    font-weight: 300;

    i {
      padding-right: 12px;
    }
  }
}

.table-addons {
  margin-top: 16px;
}

.addons-list-type {
  overflow: hidden;
  clear: both;

  a {
    dispaly: block;
    float: right;
    width: 20px;
    margin-right: 15px;

    &:hover {
      text-decoration: none;
      color: #dedede;
    }

    &.current {
      color: #dedede;
    }
  }

  i {
    width: 20px;
    height: 20px;
    font-size: 1.4em;
  }
}

.addons-box {
  margin-top: 16px;

  h3 {
    background: lighten(@grayLighter, 4%);
    border: 2px solid @grayLighter;
    border-bottom-width: 0;
    font-size: 16px;
    margin: 0;
    padding: 0 8px;
  }

  ul, ol {
    border: 2px solid @grayLighter;
    border-top-width: 0;
    margin: 0;

    li {
      list-style: none;

      a {
        border-top: 1px solid @grayLighter;
        display: block;
        padding: 8px;

        &:hover {
          background: lighten(@grayLighter, 4%);
          text-decoration: none;
        }
      }

      .meta, .description {
        color: #333;
        font-size: 13px;
      }

      .meta {
        float: right;
        margin-bottom: 1px;
      }

      .description {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .addons-box-holder {
    border: 2px solid @grayLighter;
    border-top-width: 0;
    margin: 0;
    border-top: 1px solid @grayLighter;
    padding: 8px;
    overflow: hidden;

    .placeholder {
      float: left;
      width: 150px;
      height: 150px;
      overflow: hidden;
      border: 1px solid @grayLighter;
      margin-right: 10px;
      background: url(../images/logo-placeholder.png) top left no-repeat;
      text-align: center;

      &.img {
        background: none;
        border: 0;
      }
    }

    .version {
      float: left;
      width: 37%;
      color: #777;
    }

    .meta {
      float: right;
      width: 25%;
      text-align: right;
      margin-bottom: 1px;
    }

    .description {
      display: block;
      clear: right;
      margin: 35px 0 0 162px;
    }
  }
}

.btn {
  &.btn-plain {
    background: none;
    border-color: @grayLighter;
    .box-shadow(none);
  }
}

.page-header {
  border-bottom: 5px solid @grayLighter;
  padding-bottom: @baseLineHeight * 0.2;

  h1 {
    color: @blueDark;
  }
  p {
    font-size: (@baseFontSize * 1.4);
    line-height: (@baseLineHeight * 1.4);
  }
}

.pagination {
  ul > li {
    display: inline-block;
    margin-right: 3px;

    a, span {
      border-left-width: 1px;
    }

    &.disabled span {
      border: none;
    }
  }
}

.tags {
  margin-left: 0;

  li {
    display: inline-block;

    a {
      background: @grayLighter;
      display: block;
      margin: 0 8px 12px 0;
      padding: 6px;

      &:hover {
        background: darken(@grayLighter, 2%);
        text-decoration: none;
      }

      .count {
        color: @grayLight;
      }
    }
  }
}

.install-box {
  background: none;
  border-color: #EEE;
  border-width: 0 0 1px 0;
  line-height: 40px;

  & > * {
    float: left;
    display: inline-block;
    vertical-align: middle;
  }

  pre {
    color: #888;
    background: none;
    border: none;
  }

  .install-box-label {
    margin-right: 5px;
  }
}